
body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #201013;
}

#hc-logo {
	width: 90px;
	margin-top: 15px;
	margin-left: 15px;
}

h1 {
	letter-spacing: 0.05em;
	font-weight: 100;
	font-size: 60px;
}

h2 {
	letter-spacing: 0.05em;
	font-weight: bold;
	font-size: 36px;
}

h3.job-title {
	text-align: right;
	margin-top: 0;
}

h6 {
	word-wrap: normal;
}

h3 a {
	color: #201013;
	font-size: 28px;
	letter-spacing: 0.05em;
}

h3 a:hover {
	color: #0000c7;
	text-decoration: none;
}

h6 a {
	color: #201013;
	font-size: 16px;
	overflow-wrap: break-word;
}

h6 a:hover {
	color: #0000c7;
	text-decoration: none;

}

hr {
	height: 3px;
	color: #99cc03;
	background-color: #99cc03;
	border: none;
}

#main-img {
	max-width: 100%;
}

.my-work img {
	cursor: pointer;
	width: 400px;
}

ul.links {
	list-style: none;
}	

button.close {
	border: none;
	float: right;
	color: #cccccc;
	background-color: #ffffff;
}

button.close span {
	font-size: 22px;
}

button.close span:hover {
	color: #201013;
}

button.btn {
	background-color: #ffffff;
	border: 0.5px solid #cccccc;
	color: #201013;
	border-radius: 5px;
	padding: 8px 12px ;
}

button.btn:hover {
	background-color: #e6e6e6;
}




