
body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #201013;
}

#hc-logo {
	width: 90px;
	margin-top: 15px;
	margin-left: 15px;
}

h1 {
	letter-spacing: 0.05em;
	font-weight: 100;
	font-size: 60px;
}

h2 {
	letter-spacing: 0.05em;
	font-weight: bold;
	font-size: 36px;
}

h3.job-title {
	text-align: right;
	margin-top: 0;
}

h6 {
	word-wrap: normal;
}

h3 a {
	color: #201013;
	font-size: 28px;
	letter-spacing: 0.05em;
}

h3 a:hover {
	color: #0000c7;
	text-decoration: none;
}

h6 a {
	color: #201013;
	font-size: 16px;
	overflow-wrap: break-word;
}

h6 a:hover {
	color: #0000c7;
	text-decoration: none;

}

hr {
	height: 3px;
	color: #99cc03;
	background-color: #99cc03;
	border: none;
}

hr.gray {
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

#main-img {
	max-width: 100%;
}

.my-work img {
	cursor: pointer;
	width: 400px;
}

ul.links {
	list-style: none;
}	

button.close {
	border: none;
	float: right;
	color: #cccccc;
	background-color: #ffffff;
}

button.close span {
	font-size: 22px;
}

button.close span:hover {
	color: #201013;
}

button.btn {
	background-color: #ffffff;
	border: 0.5px solid #cccccc;
	color: #201013;
	border-radius: 5px;
	padding: 8px 12px ;
}

button.btn:hover {
	background-color: #e6e6e6;
}

p {
	color: #201013;
	font-size: 16px;
}

img {
    vertical-align: middle;
    border: 0;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

#profile-pic {
    max-width: 90%;
    width: 400px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.text-center {
    text-align: center;
}

.contact-list ul {
    padding-left: 0;
}

.contact-list ul li {
    font-size: 16px;
    color: #201013;
    padding-bottom: 1em;
    list-style-type: none;
}

.contact-list ul li:nth-child(1) i {
    margin-right: 1.8em;
}

.contact-list ul li i {
    font-size: 20px;
}

.contact-list ul li a {
    color: #201013;
    text-decoration: none;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 
 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .col-md-9 {
        width: 75%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
}

